<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css"/>
        <title>#{msgs.indexWindowTitle}</title>
    </h:head>

    <h:body>
        <h:outputText value="#{msgs.indexPageTitle}" styleClass="emphasis"/>
        <h:form>
            <h:panelGrid columns="2">
                
                <h:outputLabel value="#{msgs.namePrompt}" />
                <h:inputText value="#{form.name}"/>
                                
                <h:outputLabel value="#{msgs.contactMePrompt}" />
                <h:selectBooleanCheckbox value="#{form.contactMe}"/>
                
                <h:outputLabel value="#{msgs.bestDayPrompt}" />
                <h:selectManyMenu value="#{form.bestDaysToContact}">
                    <f:selectItems value="#{form.daysOfTheWeek}" var="w"
                                   itemLabel="#{w.dayName}" itemValue="#{w.dayNumber}"/>
                </h:selectManyMenu>
                
                <h:outputLabel value="#{msgs.yearOfBirthPrompt}" />
                <h:selectOneMenu value="#{form.yearOfBirth}" required="true">
                    <f:selectItems value="#{form.yearItems}"/>
                </h:selectOneMenu>
                
                <h:outputLabel value="#{msgs.colorPrompt}" />
                <h:selectManyCheckbox value="#{form.colors}"
                                      selectedClass="selected" disabledClass="disabled"
                                      onchange="submit()">
                    <f:selectItems value="#{form.colorItems}"/>
                </h:selectManyCheckbox>
                
                <h:outputLabel value="#{msgs.languagePrompt}" />
                <h:selectManyListbox size="5" value="#{form.languages}">
                    <f:selectItems value="#{form.languageItems}"/>
                </h:selectManyListbox>
                
                <h:outputLabel value="#{msgs.educationPrompt}" />
                <h:selectOneRadio value="#{form.education}"
                                  layout="pageDirection">
                    <f:selectItems value="#{form.educationItems}"/>
                </h:selectOneRadio>
                
            </h:panelGrid>
            
            <h:commandButton value="#{msgs.buttonPrompt}" action="showInformation"/>
        </h:form>
        <h:messages/>
    </h:body>
</html>
