<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.indexWindowTitle}</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputStylesheet library="css" name="styles.css"/>
            
            <h:outputFormat value="#{msgs.thankYouLabel}">
                <f:param value="#{form.name}"/>
            </h:outputFormat>
            
            <h:panelGrid columns="2">
                <h:outputLabel value="#{msgs.contactMeLabel}" />
                <h:outputText value="#{form.contactMe}"/>
                
                <h:outputLabel value="#{msgs.bestDayLabel}" />
                <h:outputText value="#{form.bestDaysConcatenated}"/>
                
                <h:outputLabel value="#{msgs.yearOfBirthLabel}" />
                <h:outputText value="#{form.yearOfBirth}"/>
                
                <h:outputLabel value="#{msgs.languageLabel}" />
                <h:outputText value="#{form.languages}"/>
                
                <h:outputLabel value="#{msgs.colorLabel}" />
                <h:outputText value="#{form.colorsConcatenated}"/>
                
                <h:outputLabel value="#{msgs.educationLabel}" />
                <h:outputText value="#{form.education}"/>
            </h:panelGrid>
            <h:commandButton value="#{msgs.backPrompt}" action="index"/>
        </h:form>
    </h:body>
</html>
